@import url('https://fonts.googlepis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900&display=swap');



.
{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;		
}
.contact
{
position: relative;
min-height:100vn;
padding: 50px 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

background-image: url('q.JPG');   
		background-repeat:no-repeat;
		background-size:cover; 
}
.contact .content h2
{
	font-size: 36px;
	font-weight: 500;
	color:#fff;
	
}

.contact .content p
{
	font-weight: 300;
	color:#fff;
}
  .container
  {
	  width:100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-top: 30px;
  }
  .container .contactInfo
  {
	  width:50%;
	  display: flex;
	  flex-direction: column;
  }
  .container .contactInfo .box
  {
	  position:relative;
	  padding: 20px 0;
	  display: flex;
  }
  
  
  
	.container .contactInfo .box  .text
	{
		display: flex;
		margin-left: 20px;
		font-size: 16px;
		color: #fff;
		flex-direction: column;
		font-weight: 300;
	}	
	
	  .container .contactInfo .box  .text h3 
	  {
		  font-weight: 500;
		  color: #00bcd4;	  
	  }
	     .contactfrom
		 {
			 width: 40%;
			 padding: 40px;
			 background:#fff;
		 }
		  .contactfrom h2
		 {
			 font-size: 30px;
			 color: #333;
			 font-weight:500;
		 }
		 .contactfrom .inputBox
		 {
			 position: relative;
			 width: 100%;
			 margin-top: 10px;
		 }
		 .contactfrom .inputBox input,
		 .contactfrom .inputBox textarea
		 {
			 width: 100%;
			 padding: 5px 0;
			 font-size: 16px;
			 margin: 10px 0;
			 border: none;
			 border-bottom: 2px solid #333;
			 outline: none;
			 resize: none; 
		 }
		 
		 .contactfrom .inputBox span
		 {
			 position: absolute;
			 Left: 0;
			 padding: 5px 0;
			 font-size: 16px;
			 margin: 10px 0;
			 pointer-events: none;
			 transition: 0.5%;
			 color: #666;	 	 
		 }
		 .contactfrom .inputBox input:focus ~ span,
		 .contactfrom .inputBox input:valid ~ span,
		 .contactfrom .inputBox textarea:focus ~ span,
		 .contactfrom .inputBox textarea:valid ~ span
		 {
			 color: #e91e63;
			 font-size: 12px;
			 transform: translateY(-20px);				 
		 }
		 .contactfrom .inputBox input[type="submit"]
		 {
			 width: 100px;
			 background: #00bcd4;
			 color: none;
			 cursor: pointer;
			 padding: 10px;
			 font-size: 18px;		 
			 }
			 
			@media (max-width:991px)
			{
				.contact
				{
					padding: 50px;
				}
				.container
				{
					flex-direction: column;
				}
				.container .contactInfo
				{
					margin-bottom: 40px;
				}
				.container .contactInfo
				{
					width: 100%;
				}
				
				
			}
		 
  
  